@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
}

@layer utilities {
  .area-divider {
    border-top: 1px solid rgb(209 213 219);
  }

  @media (prefers-color-scheme: dark) {
    .area-divider {
      border-top-color: rgb(55 65 81);
    }
  }

  .node-memo {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-color: white;
  }

  .node-tag {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-color: black;
    color: white;
  }

  .node-proposal {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgba(0, 0, 0, 0.1) 10px,
      rgba(0, 0, 0, 0.1) 20px
    );
  }

  .node-task-pending {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-color: rgb(239 68 68);
  }

  .node-task-completed {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-color: rgb(34 197 94);
  }

  .node-task-hold {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-color: rgb(234 179 8);
  }

  .node-mvp {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-color: #ffd700;
    border-width: 3px;
    animation: glow 2s ease-in-out infinite;
  }

  .node-dashboard {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-color: white;
  }

  .node-improvement {
    border: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms;
    background-color: white;
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 20px 10px rgba(255, 215, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 30px 20px rgba(255, 215, 0, 0.8);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
